<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

    <!--add name="DefaultConnection" connectionString="Data Source=SAMI\SQLEXPRESS;Initial Catalog=AgenciaDeViajes;Integrated Security=True"/--> <!-- Sami-->
    <add name= "DefaultConnection" connectionString="Data Source=CHICOS\SQLEXPRESS;Initial Catalog=AgenciaDeViajes;Integrated Security=True"/>  <!-- Gustavo-->
    <!--<add name="DefaultConnection" connectionString="Data Source=JUAN-PC\SQLEXPRESS;Initial Catalog=AgenciaViajes-PAVII;Integrated Security=True"//>--><!-- COLO-->

    
  </connectionStrings>

  <system.web>
   <pages theme="AgenciaViajesTheme" />
  <compilation debug="true" targetFramework="4.0">
    <assemblies>
      <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    </assemblies>
  </compilation>
    <customErrors defaultRedirect="404.aspx" mode="On" >
      <error statusCode="404" redirect="404.aspx"/>
    </customErrors>
  <!--Esta configuracion deniega el acceso a todas la paginas (y otros recursos:archivos, imagenes, etc) a todos los usuarios anonimos (no logueados)-->
  <authentication mode="Forms">
    <forms defaultUrl="Default.aspx" loginUrl="Login.aspx" />
  </authentication>

  <!--Esta configuracion deniega el acceso a todas la paginas (y otros recursos:archivos, imagenes, etc) a todos los usuarios anonimos (no logueados)-->
  <authorization>
    <deny users="?"/>
  </authorization>
  </system.web>

  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow roles="?"/>
        <deny users ="*"/>
      </authorization>
    </system.web>
  </location>
  <!--Esta configuracion permite el acceso a esta pagina a los usuarios anonimos (no logueados)-->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Pasajeros.aspx">
    <system.web>
      <authorization>
        <allow roles="administrador, usuario"/>
        <deny users ="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="OperadoresTuristicos.aspx">
    <system.web>
      <authorization>
        <allow roles="administrador"/>
        <deny users ="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Empleados.aspx">
    <system.web>
      <authorization>
        <allow roles="administrador"/>
        <deny users ="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Ventas.aspx">
    <system.web>
      <authorization>
        <allow roles="administrador, usuario"/>
        <deny users ="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Compras.aspx">
    <system.web>
      <authorization>
        <allow roles="administrador, usuario"/>
        <deny users ="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reservas.aspx">
    <system.web>
      <authorization>
        <allow roles="administrador, usuario"/>
        <deny users ="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
