<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AgenciaDeViajesDAL.Properties.Settings.AgenciaDeViajesConnectionString"
            connectionString="Data Source=JUAN-PC\SQLEXPRESS;Initial Catalog=AgenciaDeViajes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>